Repository ujohnwesly8/LeapApp, pull requests merged in 2023-07, with the labels that each got.

#253 testing for the constants are done
  __tests__/constants/Regex/Regex.test.tsx
  __tests__/constants/colors/Colors.test.tsx
  __tests__/network/network.test.tsx
Labels: Component Test

#254 Test: testing done cartReducer
  __tests__/redux/reducers/cartReducer.test.ts
Labels: Component Test

#256 Test: testing done AddressReducer
  __tests__/redux/reducers/AddressReducers.test.ts
Labels: Component Test

#255 additemreducer testing is done
  __tests__/redux/reducers/Additemsreducer.test.ts
Labels: Component Test

#257 Test: testing done GenderReducer
  __tests__/redux/reducers/GenderReducer.test.tsx
Labels: Component Test

#258 additemsreducers and eventreducers testing is done
  .scannerwork/report-task.txt
  __tests__/redux/reducers/Additemsreducer.test.ts
  __tests__/redux/reducers/eventreducers.test.ts
Labels: Component Test

#259 test : 55% testing done of Date picker
  .scannerwork/report-task.txt
  __tests__/atoms/DatePickerComponent/DatepickerComponent.test.tsx
  src/components/atoms/DatePickerComponent/DatepickerComponent.tsx
Labels: Component Test

#260 Test: testing done for reducers.tsx
  __tests__/redux/reducers/reducers.test.tsx
Labels: Component Test

#261 Rolereducer testing is done
  __tests__/redux/reducers/Rolereducers.test.ts
Labels: Component Test

#262 test: sizeReducer testing is done
  .scannerwork/report-task.txt
  __tests__/redux/reducers/sizeReducer.test.ts
Labels: Component Test

#263 Test: testing done for wishlistReducer
  __tests__/redux/reducers/wishlistReducer.test.ts
Labels: Component Test

#265 OrderReducer testing is Done
  __tests__/redux/reducers/orderreducer.test.ts
Labels: Component Test

#266 Testing for the Edititems slice is done
  __tests__/redux/Slices/edititemslice.test.ts
Labels: Component Test

#267 Testing for wishlistsilce is done
  .scannerwork/report-task.txt
  __tests__/constants/Apis/Apis.test.tsx
  __tests__/redux/Slices/wishlistSlice.test.ts
  package-lock.json
  package.json
Labels: Component Test

#268 Testing for Store is Done
  __tests__/redux/Store/Store.test.ts
  src/redux/store.tsx
Labels: Component Test

#269 test : UserProductSlice Testing Done
  .scannerwork/report-task.txt
  __tests__/redux/Slices/userProductSlice.test.ts
  package-lock.json
  package.json
  src/redux/slice/userProductSlice.ts
Labels: Component Test

#270 testing done for the ProductSlice
  __tests__/redux/Slices/productSlice.test.ts
Labels: Component Test

#271 Test: testing for cartSlice done with coverage of 92 %
  .scannerwork/report-task.txt
  __tests__/redux/Slices/cartSlice.test.tsx
  src/redux/slice/cartSlice.tsx
Labels: Component Test

#274 Test: testing for useOtp
  __tests__/Screens/OtpScreen/OtpScreen.test.tsx
  __tests__/Screens/OtpScreen/useOtp.test.ts
Labels: Component Test

#276 Loginscreen testing is Done but in Branch 66% covered
  __tests__/Screens/LoginScreen/LoginScreen.test.tsx
  src/screens/LoginScreen/LoginScreen.tsx
Labels: Screen Test

#278 testing done for category screen
  __tests__/screens/Category.test.tsx
  src/screens/Category/Category.tsx
Labels: Component Test

#279 Test: testing done for OwnerProductsdetailsPage
  .scannerwork/report-task.txt
  __tests__/Screens/OwnerProductdetailsPage/OproductDetails.test.tsx
  __tests__/Screens/OwnerProductdetailsPage/useOProductDetails.test.ts
  src/constants/Apis.ts
  src/screens/OwnerProductdetailsPage/OproductDetails.tsx
  src/screens/OwnerProductdetailsPage/useOProductDetails.ts
Labels: Component Test

#282 test: colorSchema is covered in branch
  src/components/atoms/DropDownComponent/DropDown.tsx
  src/components/atoms/HeadingText/HeadingTest.tsx
  src/components/atoms/Sizeselect.tsx
  src/components/atoms/SubcategoryDropdown/SubcategoryDropdown.tsx
  src/constants/Apis.ts
Labels: Component Test

#283 test case file structure corrected
  __tests__/Screens/Category/Category.test.tsx
Labels: Component Test

#284 Unit testes added separately for signup screen
  __tests__/UnitTest/SignupScreen/Signupscreen.test.tsx
  __tests__/UnitTest/SignupScreen/useSignup.test.tsx
  package-lock.json
  package.json
  src/constants/Apis.ts
  src/screens/SignUp/SignupScreen.tsx
  src/screens/SignUp/useSignup.ts
Labels: code change, Component Test

#286 category testing updated
  __tests__/Screens/Category/Category.test.tsx
Labels: Component Test

#287 test: useCategory hook testing is done
  __tests__/Screens/Category/Category.test.tsx
  __tests__/Screens/Category/useCategory.test.tsx
  src/screens/Category/useCategory.ts
Labels: bug, code change, Component Test

#288 Subcategory Page testing is Done
  __tests__/Screens/subCategoryScreen/SubcategoryScreen.test.tsx
  __tests__/Screens/subCategoryScreen/Subcategoryunittest.test.tsx
  src/screens/Subcategory/Subcategory.tsx
Labels: Component Test, Screen Test

#289 test: unit testing and integration testing done for OproductDetailsPa…
  __tests__/Screens/OwnerProductdetailsPage/OproductDetails.test.tsx
  __tests__/Screens/OwnerProductdetailsPage/OproductDetailsintegration.test.tsx
  __tests__/Screens/OwnerProductdetailsPage/useOProductDetails.test.ts
  __tests__/Screens/Payment/PaymentFailScreen.test.tsx
  __tests__/Screens/Payment/PaymentFailScreenintegration.test.tsx
  __tests__/Screens/Payment/PaymentSuccessScreen.test.tsx
  __tests__/Screens/Payment/PaymentSuccessScreeninegration.test.tsx
  __tests__/Screens/Payment/usePayment.test.ts
  src/components/atoms/Sizeselect.tsx
  src/screens/OwnerProductdetailsPage/OproductDetails.tsx
  src/screens/PaymentScreens/PaymentFailScreen.tsx
  src/screens/PaymentScreens/PaymentSuccessScreen.tsx
  src/screens/PaymentScreens/usePayment.ts
Labels: Component Test

#290 test:Category testing done
  __tests__/Screens/CategoryProducts/CategoryProductsUnit.test.tsx
  __tests__/Screens/CategoryProducts/useCategoryProducts.test.tsx
  src/screens/CategoryProducts/CategoryProducts.tsx
  src/screens/CategoryProducts/useCategoryProducts.ts
Labels: code change, Component Test

#291 test: testing done for SwitchAccountButton with coverage 97%
  __tests__/atoms/Switchbutton/SwitchAccountButton.test.tsx
  src/components/atoms/SwtichAccountButton.tsx
Labels: Component Test

#292 Profile test new
  __tests__/Screens/Profile/Profile.test.tsx
  src/constants/Apis.ts
  src/screens/Profile/Profile.tsx
  src/screens/Profile/useProfile.ts
Labels: Component Test

#293 test: Cart screen testing done 90%
  __tests__/Screens/Cart/CartScreen.test.tsx
  __tests__/Screens/Cart/useCart.test.tsx
  src/constants/Apis.ts
  src/screens/Cart/Cart.tsx
  src/screens/Cart/useCart.tsx
  src/screens/CheckoutScreen/useCheckout.ts
Labels: Duplications fix, code change, Component Test

#296 useProfile testing 96% done
  __tests__/Screens/Profile/Profile.test.tsx
  __tests__/Screens/Profile/useProfile.test.tsx
  package-lock.json
  package.json
  src/screens/Profile/useProfile.ts
Labels: Component Test, Screen Test

#297 test: EditAddress tesing is done
  __tests__/Screens/EditAddress/EditAddress.test.tsx
  __tests__/Screens/EditAddress/useEditAddress.test.tsx
  src/screens/EditAddress/EditAddress.tsx
  src/screens/EditAddress/useEditAddress.ts
  src/screens/Owneraddaddress/AddAddress.tsx
  src/screens/Owneraddaddress/Address.tsx
Labels: code change, Component Test, Screen Test

#298 SearchResultsScreen 90% and editprofile screen 85% done
  .scannerwork/report-task.txt
  ColorSchemeContext.js
  __tests__/Screens/EditProfile/EditprofilescreenIntegrationtest.test.tsx
  __tests__/Screens/EditProfile/Editprofilescreenunittest.test.tsx
  __tests__/Screens/SearchResultScreen/SearchResultScreenunittest.test.tsx
  __tests__/Screens/wishlistScreen/Wishlistscreenunittest.test.tsx
  src/constants/Apis.ts
  src/screens/Category/Category.tsx
  src/screens/Ownereditprofile/OwnerEditProfile.tsx
  src/screens/Ownereditprofile/useOwnerProfile.ts
Labels: Component Test, Screen Test

#300 owner profile testing done
  __tests__/Screens/OwnerProfile/OwnerProfile.test.tsx
  __tests__/Screens/OwnerProfile/useOwnerProfile.test.tsx
  src/screens/Ownerprofile/OwnerProfile.tsx
  src/screens/Ownerprofile/useOwnerProfile.ts
  src/screens/Profile/Profile.tsx
Labels: code change, Component Test, Screen Test

#301 test:colorSccheme updated
  ColorSchemeContext.js
  src/screens/MyOrder/MyOrder.tsx
Labels: code change

#302 removed the code smells from the profile screen
  src/screens/Profile/Profile.tsx
Labels: code change

#312 Merge: merging the main code and epic/code_quality to testing
  src/redux/reducers/EditProductsReducers.tsx
  src/screens/OwnerHomepage/DashboardDetails.tsx
  src/screens/Owneredititems/Useowneredititems.ts
  src/screens/Wishlist/Wishlist.tsx
Labels: code change, Component Test, Screen Test

#314 Test: testing for the wishlist is done for 80%
  __tests__/Screens/wishlistScreen/Wishlistscreenunittest.test.tsx
  src/constants/Apis.ts
Labels: Screen Test

#315 Test: Testing is Done for Wishlist Screen
  ColorSchemeContext.js
  __tests__/Screens/wishlistScreen/Wishlistscreenunittest.test.tsx
  src/screens/Wishlist/Wishlist.tsx
  src/screens/Wishlist/useWishlist.ts
Labels: Screen Test

#316 Test: Enhance readability and remove unused imports in test code
  __tests__/Screens/Category/Category.test.tsx
  __tests__/Screens/OwnerProfile/OwnerProfile.test.tsx
  __tests__/Screens/Profile/Profile.test.tsx
Labels: enhancement, Duplications fix

#317 [Test] : Complete Owner Profile test coverage up to 94.5%
  __tests__/Screens/OwnerProfile/OwnerProfile.test.tsx
  src/screens/Ownerprofile/OwnerProfile.tsx
Labels: Component Test

#320 test: testing done for Addresspage and AddAddress with 97 %
  __tests__/Screens/AddAddress/AddAddress.test.tsx
  __tests__/Screens/AddAddress/Address.test.tsx
  __tests__/Screens/AddAddress/useAddAddress.test.ts
  __tests__/Screens/AddAddress/useAddress.test.ts
  src/screens/Owneraddaddress/AddAddress.tsx
  src/screens/Owneraddaddress/Address.tsx
  src/screens/Owneraddaddress/useAddAddress.ts
  src/screens/Owneraddaddress/useAddress.ts
Labels: Component Test

#322 Fix(error): removed code smell in editprofile
  ColorSchemeContext.js
  __tests__/Screens/AddAddress/AddAddress.test.tsx
  __tests__/Screens/AddAddress/Address.test.tsx
  __tests__/Screens/AddAddress/useAddAddress.test.ts
  __tests__/Screens/AddAddress/useAddress.test.ts
  __tests__/Screens/Category/Category.test.tsx
  __tests__/Screens/EditProfile/Editprofilescreenunittest.test.tsx
  __tests__/Screens/OwnerProfile/OwnerProfile.test.tsx
  __tests__/Screens/Profile/Profile.test.tsx
  __tests__/Screens/wishlistScreen/Wishlistscreenunittest.test.tsx
  src/constants/Apis.ts
  src/screens/Owneraddaddress/AddAddress.tsx
  src/screens/Owneraddaddress/Address.tsx
  src/screens/Owneraddaddress/useAddAddress.ts
  src/screens/Owneraddaddress/useAddress.ts
  src/screens/Ownereditprofile/OwnerEditProfile.tsx
  src/screens/Ownerprofile/OwnerProfile.tsx
  src/screens/Wishlist/Wishlist.tsx
  src/screens/Wishlist/useWishlist.ts
Labels: fix

#324 Bug: Resolved the onboarding screen error which is coming ev…
  App.tsx
  src/constants/Apis.ts
  src/redux/actions/actions.ts
  src/screens/Home/Homescreen.tsx
  src/screens/Home/useHome.ts
Labels: bug

#327 Bug: resolved bugs in onboarding, subcategory screen.
  App.tsx
  __tests__/Screens/subCategoryScreen/Subcategoryscreenunittest.test.tsx
  src/constants/Apis.ts
  src/redux/actions/actions.ts
  src/screens/Subcategory/Subcategory.tsx
Labels: bug

#329 Merge: Merging the epic/testing code to epic/code_quality branch
  App.tsx
  __tests__/Screens/subCategoryScreen/Subcategoryscreenunittest.test.tsx
  src/constants/Apis.ts
  src/redux/actions/actions.ts
  src/screens/Subcategory/Subcategory.tsx
Labels: Merge

#330 Merge: Merging epic/code_quality code to dev branch
  ColorSchemeContext.js
  __tests__/Screens/AddAddress/AddAddress.test.tsx
  __tests__/Screens/AddAddress/Address.test.tsx
  __tests__/Screens/AddAddress/useAddAddress.test.ts
  __tests__/Screens/AddAddress/useAddress.test.ts
  __tests__/Screens/Category/Category.test.tsx
  __tests__/Screens/EditProfile/Editprofilescreenunittest.test.tsx
  __tests__/Screens/OwnerProfile/OwnerProfile.test.tsx
  __tests__/Screens/Profile/Profile.test.tsx
  __tests__/Screens/subCategoryScreen/Subcategoryscreenunittest.test.tsx
  __tests__/Screens/wishlistScreen/Wishlistscreenunittest.test.tsx
  src/screens/Owneraddaddress/AddAddress.tsx
  src/screens/Owneraddaddress/Address.tsx
  src/screens/Owneraddaddress/useAddAddress.ts
  src/screens/Owneraddaddress/useAddress.ts
  src/screens/Ownereditprofile/OwnerEditProfile.tsx
  src/screens/Ownerprofile/OwnerProfile.tsx
  src/screens/Subcategory/Subcategory.tsx
  src/screens/Wishlist/Wishlist.tsx
  src/screens/Wishlist/useWishlist.ts
Labels: Merge

#331 Test : testing for checkout is done 58%
  __tests__/Screens/checkoutScreen/checkoutScreenUnittest.test.tsx
  src/screens/CheckoutScreen/CheckoutScreen.tsx
Labels: Screen Test

#332 Testing/filtered analytics
  __tests__/Screens/FilteredAnalytics/FilteredAnalytics.test.tsx
  src/screens/FilteredAnalytics/FilteredAnalytics.tsx
Labels: Component Test

#333 test : useAnalytics testing done with coverage of 87 %
  __tests__/Screens/AnalyticsPage/useAnalytics.test.ts
  src/screens/AnalyticsPage/useAnalytics.ts
  src/screens/Home/useHome.ts
Labels: Component Test

#334 (Test) : FilteredAnalytics testing updated, coverage completed upto 94%
  __tests__/Screens/FilteredAnalytics/FilteredAnalytics.test.tsx
  __tests__/Screens/FilteredAnalytics/useFilteredAnalytics.test.ts
  src/constants/Apis.ts
  src/screens/FilteredAnalytics/FilteredAnalytics.tsx
  src/screens/FilteredAnalytics/useFilteredAnalytics.ts
Labels: Component Test
